@charset "utf-8";
/* Padding / Margin Reset */
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1 {
    font-size: 36px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
/* form */
input[type=text]:focus,input[type=password]:focus{
      outline: 0;
      box-shadow:none;
    }

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 滚动条样式 */
#mod::-webkit-scrollbar {
	border: 0;
	width: 6px;
	background-color: transparent;
}
#mod::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#mod::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: darkgrey;
}

#mod::-moz-scrollbar {
	width: 6px;
	background-color: transparent;
}
#mod::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#mod::-moz-scrollbar-thumb {
	border-radius: 2px;
	background-color: darkgrey;
}
body,html{
	width: 100%;
	height: 100%;
}
/* header */

/* sidebar */
.sidebar{
	position: fixed;
	padding: 10px 30px;
	z-index: 999;
	width: 200px;
	height: 100%;
	background-color: #222;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
/* svg */

.svg-u{
	display:inline-block;height:24px;width:24px;user-select:none;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	 fill: rgb(103, 103, 103);

    border-radius: 1px;border: 1px solid #b1b1b1;
}
/* button */
.btn{
	-webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75); 
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    outline: none;
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
        padding: 4px 128px;
    display: block;
    margin: 0 auto;font-size: 13px;
}
.btn:hover{
	background-image: -webkit-linear-gradient(#ededed, #f7f7f7 38%, #dedede);
	border: 1px solid #2196F3; 
}
.btn:visited{
	
}